@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    justify-content: center;
    align-items:  center;
}

body{
    background-color: rgba(150, 15, 235, 0.2);
}


button.round{
  background-color: #48abe0;
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 130px;
  width: 130px;
  box-shadow: 0 2px 4px darkslategray;
  border-radius: 50%;
}
button.round:hover {
  background-color: #65b9e6;
}
button.round:active {
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}
 
.RPS{
  height: 50px;
}

.heading{
    display: flex;
    font-family: Montserrat;
    font-size: 2.3em;
}


.logo{
    display: flex;
    height: 75px;
    width: 100px;
}

h3{
    font-size: 45px;
    display: inline;
}

.Score{
    display: flex;
    padding: 0;

}

.Score1{
  display: flex;
  padding: 0;
}
.user-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CSS */
.button-71 {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}
